/* main {
	width: 90%;
	margin: auto;
	text-align: center;
} */
.small_main {
	width: 90%;
	margin: auto;
	text-align: center;
	width: 300px;
}
form {
	margin-top: 50px;
}

.img-fluid {
	max-width: 75%;
	height: auto;
}